# Case Study for Statistical Methods

In [1]:
# import libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import scipy.stats as stats 
import statsmodels.api as sm 
from statsmodels.formula.api import ols 
import statsmodels.multivariate.manova as manova

## Chi-Squared Test 

Assume the expected distribution is 50% vegetarian and 50% non-vegetarian. You want to test if your sample data matches this distribution.


Goodness of fit.

In [3]:
import numpy as np 
from scipy.stats import chisquare

# Hypothetical ovserved frequencies 

observed_frequencies = np.array([30,70]) # e.g., 30 Vegetarian and 70 non-vegetarian meals

# Expectedd frequencies (assumig a 50-50 distribution)

total_meals = observed_frequencies.sum()
expected_frequencies = np.array([total_meals*0.5, total_meals * 0.5])


# Perform the Chi-Squared test 
chi2_stat, p_value = chisquare(observed_frequencies, f_exp=expected_frequencies)

# Output the results 
print(f"Chi-Squared Statistic: {chi2_stat}")
print(f"P-value:{p_value}")

# Print result wiht if else conditons 
if p_value < 0.05:
    print("Reject null hypothesis, there is a significant difference between the groups")
else:
    print("Fail to reject null hypothesis, there is no significant difference between the groups")

Chi-Squared Statistic: 16.0
P-value:6.334248366623988e-05
Reject null hypothesis, there is a significant difference between the groups

In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from scipy.stats import chi2_contingency


# data load 

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# Create a contigency table 

contigency_table = pd.crosstab(df['sex'], df['day'])
contigency_table

day     Thur  Fri  Sat  Sun
sex
Male      30   10   59   58
Female    32    9   28   18

In [6]:
# perform the chi-squared test 
chi2, p, dof, expected = chi2_contingency(contigency_table)

# output results
print(f"Chi-Squared Statistic: {chi2}")
print(f"P-value:{p}")
print(f"Degrees of Greedom: {dof}")
print("Expected: \n", np.array(expected))


# print the results based on if else conditions 
if p<0.05:
    print("Reject null hypothesis, ther is a significant difference between the groups")
else:
    print("Fail to reject null hypothesis, there is no significant differnce between the groups")

Chi-Squared Statistic: 13.22200137240661
P-value:0.004180302092822257
Degrees of Greedom: 3
Expected:
 [[39.89344262 12.22540984 55.9795082  48.90163934]
 [22.10655738  6.77459016 31.0204918  27.09836066]]
Reject null hypothesis, ther is a significant difference between the groups

# t-test

1. One sample t-test

In [ ]:
# one sample t-test 
import pandas as pd