# **1. Standard Scaling**

`Standard scaling` is a mehtod to scaling the data sucha that distribution of the data is centered around 0, whith a standard deviation of 1. This done by subtracting the mean of the data from each data point and then dividing by the standard deviation of the data. This is a very common method of scaling data, ans is used in many machine learing algorithms.

The formula is as follows:

# **z = (x - μ) / σ**

In [1]:
# import libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [2]:
# make an example dataset 
df = {
    'age': [25,30,35,40,45],
    'height': [165,170,175,180,185],
    'weight': [55,60,65,70,75]
}

# conver this data to pands dataframe

df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [3]:
# import the scalar 
scalar = StandardScaler()



# fit the scalar on data 
scaled_df = scalar.fit_transform(df)
scaled_df

# convert this data into a pands dataframe 
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

        age    height    weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

# Min-Max scalar

In [4]:
# import the scalar 
scalear =MinMaxScaler()


# fit the scalar on data
scaled_df = scalear.fit_transform(df)

# convet this data into a pands dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00

# Max ABS scalar

In [5]:
# import the scalar 
scalar = MaxAbsScaler()

# fit the scalear on data 
scaled_df = scalar.fit_transform(df)
scaled_df 

# convet this dta into a pands dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

        age    height    weight
0  0.555556  0.891892  0.733333
1  0.666667  0.918919  0.800000
2  0.777778  0.945946  0.866667
3  0.888889  0.972973  0.933333
4  1.000000  1.000000  1.000000